<ion-view>
	<ion-header-bar class="bar-stable">
        <button class="button" ng-click="verBuscador()">Volver al Buscador</button>
        <h1 class="title">{{titulo}}</h1>
    </ion-header-bar>
	<ion-content>
		<br>
		<div class="row responsive-sm">
			<img src="../img/mapa.jpg" width="350" height="400"></img>
		</div>
	    <br>
	    <div class="row responsive-sm">
	    	<div class="col">
	    		<p>El distrito de Carapeguá, cuenta con una población de 33.000 habitantes aproximadamente, situado en el noveno departamento de Paraguarí a 84 km. sobre Ruta 1, se ha caracterizado por la producción artesanal. Según censos realizados en la década de los 90 por la Cooperativa Local, se tenía más de 7.000 familias que se dedican a la artesanía.</p>
				<p>Se caracterizan por utilizar como materia prima en la mayoría de sus productos el hilo de algodón, por esta razón se autodenomina la Ciudad Del Poyvi.</p>
				<p>Carapeguá, alberga a Familias enteras que viven gracias a la producción y a la venta de artesanías ya que impregnan en el producto su ambiente, sus sentimientos y gustos.</p>
				<p>La artesanía producida en Carapeguá debe ser considerada parte del Patrimonio Cultural de Carapeguá y por ende del Paraguay.</p>		
	    	</div>
		</div>
		<br>
		<div class="bar bar-stable">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<small>* Artesanías de Carapeguá - Versión 1.0 *
			</small>	
			
		</div>
	</ion-content>
</ion-view>